<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaisonbrooks.hello.glass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library
            android:name="com.google.android.glass"
            android:required="true" />
        <activity 
            android:name="com.jaisonbrooks.hello.glass.MainActivity" 
			android:theme="@style/GlassTheme" />
        <service
            android:name="com.jaisonbrooks.hello.glass.MainService"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/glass_voice_trigger" />
        </service>
    </application>

</manifest>
